version: '3.8'
services:
  backend:
    build: ./backend
    ports:
      - '4000:4000'
    environment:
      - AI_MODE=OPENAI
      - OPENAI_API_KEY=${OPENAI_API_KEY}
      - OPENAI_MODEL=${OPENAI_MODEL}
      - GEMINI_ACCESS_TOKEN=${GEMINI_ACCESS_TOKEN}
      - OLLAMA_URL=${OLLAMA_URL}
    volumes:
      - ./backend/uploads:/usr/src/app/uploads

  frontend:
    build: ./frontend
    ports:
      - '5173:80'
    depends_on:
      - backend
