.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup-box {
  background: #111827;
  padding: 30px;
  border-radius: 15px;
  width: 340px;
  text-align: center;
  box-shadow: 0 0 20px #9333ea;
  border: 1px solid #9333ea;
  color: white;
}

.popup-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background: #9333ea;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-size: 16px;
}
