.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}

.login-box {
  width: 380px;
  padding: 40px 35px;
  background: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(15px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.45);
  text-align: center;
}

.login-title {
  font-size: 28px;
  font-weight: 600;
  color: white;
  margin-bottom: 6px;
}

.login-title span {
  color: #4fe4ff;
}

.login-subtitle {
  color: #d8d8d8;
  font-size: 14px;
  margin-bottom: 25px;
}

.login-input {
  width: 100%;
  padding: 13px 15px;
  margin-bottom: 18px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  background: rgba(255, 255, 255, 0.12);
  color: white;
}

.login-button {
  width: 100%;
  padding: 14px;
  background: linear-gradient(90deg, #7d2ff7, #00dbff);
  border-radius: 12px;
  font-weight: 600;
  color: white;
  cursor: pointer;
}

.back-button {
  margin-top: 15px;
  background: transparent;
  color: #ececec;
  border: 1px solid rgba(255, 255, 255, 0.25);
  padding: 10px 22px;
  border-radius: 10px;
  cursor: pointer;
}

.signup-link {
  margin-top: 12px;
  color: #5feaff;
  cursor: pointer;
  font-size: 14px;
}

.signup-link:hover {
  text-decoration: underline;
}
